
.container {
  display: grid;
  margin: auto;
  width: 60%;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  grid-gap: 5px;
}

.container > div {
  border: 10px solid green;
}